
apple
{
	font-size:25px;
	color:indianred;
	font-family:sans-serif;
	text-align:center;
}
orange
{
	font-size:25px;
	color:forestgreen;
	font-family:algerian;
	text-align:center;
}
pear
{
	font-size:25px;
	color:royalblue;
	font-family:arial;
	text-align:center;
}